.employee {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
}

.employee__avatar {
  display: block;
  margin-bottom: 30px;
}

.employee__content {
  margin-bottom: 30px;
}

@media only screen and (min-width: 640px) {
  .employee {
    flex-direction: row;
  }

  .employee__avatar {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .employee__content {
    flex-grow: 2;
    margin-bottom: 0;
  }

  .employee__actions {
    text-align: right;
  }
}
